.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100;
}

.double-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media only screen and (max-width: 900px) {
    .row.md {
        /* it place the items in vertical direction */
      flex-direction: column;
    }
}