$bgColor: rgb(50, 46, 63);
$darker: rgb(32, 29, 39);
$lighter: rgb(72, 66, 89);
$highlight: rgb(37, 108, 166);
$darkerHighlight: rgb(51, 81, 105);
$lighterHiglight: rgb(106, 185, 249);   
$darkerHighlight2: rgb(30, 123, 93);